.FileSubmit {
  width: 160px;
  height: 60px;
  background: rgba(245, 249, 217, 1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Input {
  display: none;
}

.CustomFileUpload {
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 6px 0px 12px 0px;
  cursor: pointer;
  width: 140px;
  height: 22px;
  border-radius: 10px;
  border-style: dashed;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
}

.ButtonLabel {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}

.FileSubmitRow {
  display: flex;
  flex-direction: column;
  width: 100%;
}
