.TreeMap,
.Matched,
.NoMatched,
.MatchedILike,
.MatchedTheyLike,
.NoMatchedILike,
.NoMatchedTheyLike {
  border: 0.5px solid #889244;
  display: flex;
}

.TreeMap {
  position: relative;
  background-color: #ffffff;
  min-width: 672px;
  height: 230px;
}

.Matched {
  background: #e1e4d0;
  min-width: 314px;
  height: 180px;
  margin: 30px 10px 10px 10px;
}

.NoMatched {
  background: #e5e5e5;
  min-width: 314px;
  height: 180px;
  margin: 30px 10px 10px 10px;
}

.MatchedILike {
  background: #889244;
  align-items: center;
  justify-content: center;
  min-width: 135px;
  height: 130px;
  margin: 30px 10px 10px 10px;
  color: #ffffff;
}

.MatchedTheyLike {
  background: #889244;
  align-items: center;
  justify-content: center;
  min-width: 135px;
  height: 130px;
  margin: 30px 10px 10px 10px;
  color: #ffffff;
}

.NoMatchedILike {
  background: #c4c4c4;
  align-items: center;
  justify-content: center;
  min-width: 135px;
  height: 130px;
  margin: 30px 10px 10px 10px;
}

.NoMatchedTheyLike {
  background: #c4c4c4;
  align-items: center;
  justify-content: center;
  min-width: 135px;
  height: 130px;
  margin: 30px 10px 10px 10px;
}

.TotalInteractionsLabel,
.MatchedLabel,
.MatchedILikeLabel,
.MatchedTheyLikeLabel,
.NoMatchedLabel,
.NoMatchedILikeLabel,
.NoMatchedTheyLikeLabel {
  align-self: flex-start;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
}

.NumLabel {
  font-size: 36px;
}
