.v4_61 {
  width: 831px;
  height: 256px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 635px;
  left: 487px;
  overflow: hidden;
}
.v3_0 {
  width: 831px;
  height: 256px;
  background: rgba(136, 146, 68, 0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.5px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.v4_0 {
  width: 345px;
  height: 205px;
  background: rgba(136, 146, 68, 0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 10px;
  border: 0.5px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.v4_4 {
  width: 129px;
  height: 153px;
  background: rgba(136, 146, 68, 0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 20px;
  border: 0.5px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.v4_5 {
  width: 186px;
  height: 153px;
  background: rgba(136, 146, 68, 0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 159px;
  border: 0.5px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.v4_2 {
  width: 456px;
  height: 205px;
  background: rgba(136, 146, 68, 0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 365px;
  border: 0.5px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.v4_41 {
  width: 173px;
  height: 153px;
  background: rgba(136, 146, 68, 0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 375px;
  border: 0.5px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.v4_42 {
  width: 248px;
  height: 153px;
  background: rgba(136, 146, 68, 0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 561px;
  border: 0.5px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.v3_1 {
  width: 196px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4_1 {
  width: 188px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 51px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4_3 {
  width: 193px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 51px;
  left: 375px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v27_11 {
  width: 112px;
  height: 133px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 30px;
  overflow: hidden;
}
.v27_2 {
  width: 41px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 53px;
  left: 34px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_6 {
  width: 112px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v27_4 {
  width: 54px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 112px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v27_12 {
  width: 146px;
  height: 133px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 169px;
  overflow: hidden;
}
.v4_7 {
  width: 146px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v27_5 {
  width: 54px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 112px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v27_8 {
  width: 41px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 53px;
  left: 62px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v27_13 {
  width: 131px;
  height: 133px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 384px;
  overflow: hidden;
}
.v4_43 {
  width: 127px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v27_6 {
  width: 54px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 112px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v27_9 {
  width: 59px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 53px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v27_14 {
  width: 172px;
  height: 133px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 571px;
  overflow: hidden;
}
