body {
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: white;
  opacity: 0.87;
  background-color: #121212;
  font-family: arial;
  display: flex;
  justify-content: center;
}

.HowToUse {
}
