body {
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  display: flex;
  font-family: Arial;
  color: rgba(0, 0, 0, 1);
}

.BodyRow {
  display: flex;
  width: 100%;
}

.InfoColumn {
  float: left;
  flex-grow: 31;
}

.ChartColumn {
  float: right;
  flex-grow: 69;
}

.Logo {
  width: 278px;
  color: rgba(136, 146, 68, 1);
  top: 133px;
  left: 122px;
  font-weight: Medium;
  font-size: 64px;
  text-align: left;
}

.Description {
  width: 223px;
  top: 228px;
  left: 122px;
  font-weight: Italic;
  font-size: 14px;
  text-align: left;
}

.ChartHeader {
  width: 342px;
  top: 150px;
  left: 487px;
  font-weight: Regular;
  font-size: 24px;
  text-align: left;
}
