body {
  text-align: center;
  display: block;
  font-family: Arial;
  color: rgba(0, 0, 0, 1);
  width: 95%;
}

.BodyRow {
  display: flex;
  width: 100%;
}

.InfoColumn {
  float: left;
  width: 25%;
  padding: 2%;
  justify-content: center;
}

.ChartColumn {
  float: left;
  width: 75%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Logo {
  color: rgba(136, 146, 68, 1);
  font-weight: Medium;
  font-size: 64px;
  text-align: left;
}

.Description {
  font-style: Italic;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.ChartHeader {
  width: 342px;
  top: 150px;
  left: 487px;
  font-weight: Regular;
  font-size: 24px;
  text-align: left;
}

.SubmitContainer {
  justify-content: center;
  display: flex;
}
